[Unit]
Description= Update AWS parameter from metadata

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/ubuntu/update.sh

[Install]
WantedBy=multi-user.target
